@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Acme', sans-serif;
  }
}

.background-bg-image{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .50),rgba(0, 0, 0, .35) ), url(./assets/bg2.jpg);
  background-position: center;
  background-size: cover;
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.activeItem {
  border: 4px solid tomato;
  padding: 2px;
}

.hero-bg-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.152),rgba(0, 0, 0, 0.223) ), url(./assets/header_img.png);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.about-bg-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.152),rgba(0, 0, 0, 0.223) ), url(./assets/about_img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.testi-bg-image {
  background-image:  url(./assets/testi_img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
